*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container{
display: flex;
width: 100%;
height: 100vh;

}

.left{
    flex:50%;
    background-color:rgba(109, 172, 169, 0.17);
    
}

.right{
    flex:50%;
    background-color:white;
    
}

.textarea-container{
    display: flex;
    justify-content: center;
    margin-top:200px;
    margin-left: 60px;
    
}

#textarea{
    box-shadow: 4px 5px 5px rgb(183, 101, 101);
    border-radius: 8px;
    padding-top: 2px;

    
}


.color{
    margin-left: 20px;
    margin-top: 100px;
}

.add {
    margin-left: 130px;
    margin-top: 40px;
    background-color: rgb(223, 155, 155);
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: none;
}

.add:hover {
    cursor: pointer;
    background: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #fbb03b);
     transition:all .4s ease-in-out;
}


.right>h1{
    text-align: center;
    padding-top: 9px;
}

.right-notes{
    width: 100%;
    max-height: 100%;
    display: flex;
    gap: 20PX;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
   position: relative;
   text-overflow:initial ;

   
}

.right div{
    min-width: 120px; 
    padding: 10px;
     height: 100px;
     position: relative;
     gap:2px;
    

}

.buttons{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

.right>p{
    text-align: center;
    color: #0b0401;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



  .textarea-container {
    animation: grow 2s ease ;
  }
  @keyframes grow {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }


  .add{
  animation: grow 2s ease ;
}
@keyframes grow {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

